.all_gallery a:link, 
.all_gallery a:visited, 
#part_g a:link, 
#part_g a:visited {
float: left;
display: block;
border: 1px solid #C8C8C8;
background-color: white;
margin: 4px 0px 6px 4px;
padding: 4px;
}


#part_g a:link.selected,
#part_g a:visited.selected{
	background:#E2E2E2;
}
.all_gallery a:hover, 
#part_g a:hover {
	background:#E2E2E2;
}
#part_g img {
vertical-align: bottom;
}

#pic-preview {
position: relative;
clear: both;
}
#pic-preview a.prev:link, 
#pic-preview a.prev:visited {
left: 10px;
background-position: top right;
}
#pic-preview a.next {
right: 10px;
background-position:top left ;
}

#pic-preview a.prev:link, 
#pic-preview a.prev:visited, 
#pic-preview a.next:link, 
#pic-preview a.next:visited {
width: 33px;
height: 33px;
position: absolute;
bottom: 45%;
display: block;
background-image: url('gallery-sprite.png');
background-repeat: no-repeat;
}
